/copia
/node_modules
/public/caja
/public/diligencias
/public/entregas
/public/facturas
/public/hot
/public/logos
/public/obligacion
/public/soportes
/public/storage
/public/usuarios
/storage/*.key
/vendor
/version1
/version11
erp.zip
erp.rar
/public/public.zip
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
